/* helpers.styl */

.pad-top
  padding-top 20px
.pad-top-md
  padding-top 75px
.pad-btm
  padding-bottom 20px
.pad-top-lg
  padding-top 150px
.pad-btm-lg
  padding-bottom 150px
.pad-top-xlg
  padding-top 350px
.pad-btm-xlg
  padding-bottom 350px
.mgn-top
  margin-top 20px
.mgn-top-md
  margin-top 75px
.mgn-btm
  margin-bottom 20px
.mgn-top-lg
  margin-top 150px
.mgn-btm-lg
  margin-bottom 150px
.mgn-top-xlg
  margin-top 350px
.mgn-btm-xlg
  margin-bottom 350px