 html, body 
    background-color: brand-hi
    color: #636b6f
    font-family: 'Raleway', sans-serif
    font-weight: 100
    height: 400vh
    margin: 0
   
.logo
    position: absolute
    left: 50%
    top: 50%
    /* 
    Yep!
    */
    transform: translate(-50%, -50%);

    /*
    Not even necessary really. 
    e.g. Height could be left out!
    */
    width: 70%;
    // padding: 15% 5%
    // margin: 10% 10%

.body-content
    width 100%
    position absolute
    top 100%
    margin-top 25%

.full-height 
    height: 100vh

.flex-center 
    align-items: center
    display: flex
    justify-content: center

.position-ref 
    position: relative

.top-right 
    position: absolute
    right: 10px
    top: 18px

.content 
    text-align: center

.pre-title 
    font-size: 26px
    font-weight: 200
    
.title 
    font-size: 42px

.links > a 
    color: #636b6f
    padding: 0 25px
    font-size: 12px
    font-weight: 600
    letter-spacing: .1rem
    text-decoration: none
    text-transform: uppercase

.m-b-md 
    margin-bottom: 30px

.anim, .anim svg 
  position: relative
  width: 100%
  height: 100%

.anim path 
  stroke-width: 8
