/*menu.styl*/

.menu 
  margin-top 25%
  ul li
    text-align left
    list-style none
    span
      font-size 32px
      text-decoration underline
    ul li
      text-decoration none
      font-size 14px
      font-family monospace
      // margin 0 20%