/*menu.styl*/
.menu 
  text-align center
  height 90%
  width 50%
  position fixed
  top 5%
  left 0px
  padding 20px 0
  background-color rgba($brand-green 0.9)
  border-bottom-right-radius 15px
  border-top-right-radius 15px 
  .mm-title
    font-size 34px
    font-weight 200
  .m-title
    font-family: 'Raleway', sans-serif
    font-weight 200
    font-size 32px
    margin-top 30px
  .btn-group-vertical
    display block
  .m-link
    display block
    text-decoration none !important
    text-align left
    font-size 16px
  .filters
    display flex
    justify-content center
    font-family monospace
    
@media screen and (max-width: 1000px)
  .menu 
    // margin-top 35%
    .mm-title
      font-size 32px
    .m-title
      font-family: 'Raleway', sans-serif
      font-weight 200
      font-size 22px
      text-align left
  .filters
    display flex
    text-align left
    font-family monospace
@media screen and (max-width: 800px)
   .menu 
    width 100%
@media screen and (max-width: 600px)
  .menu 
    // margin-top 25%
    .mm-title
      font-size 16px
      font-family monospace
    .m-title
      text-align left
      font-size 18px
      font-family monospace
      text-align left
    .m-link
      max-width 100%
      font-size 12px
  .filters
    font-size 14px
    font-family monospace
@media screen and (max-width: 400px)
  .menu 
    // margin-top 75%