/* VideoPlayer.styl */
.video-container
    background-color brand-med
    border-top solid 1px brand-pink
    border-bottom solid 1px brand-pink
.video-player
  max-width 900px
  text-align left
  margin 200px auto
.vjs-default-skin
  box-shadow 3px 3px 3px Black
@media screen and (max-width 700px)
  .video-player
    max-width 640px
    text-align left
    margin 200px auto
@media screen and (max-width 400px)
  .video-player
    max-width 380px
    text-align left
    margin 200px auto